failed to parse foundation: invalid ice-char token

#### Summary

Since ab6e243686cb841d927aac41dac1c096746db708, calling [`ice.UnmarshalCandidate`](https://pkg.go.dev/github.com/pion/webrtc/v4#ICECandidateInit) on the `Candidate` field of [`webrtc.ICECandidateInit`](https://pkg.go.dev/github.com/pion/webrtc/v4#ICECandidateInit) is failing.

This looks like a breaking change. Is there a better way to go about this?

#### Reproducer

```go
package main

import (
	"fmt"

	"github.com/pion/ice/v4"
	"github.com/pion/webrtc/v4"
)

func main() {
	pc, err := webrtc.NewPeerConnection(webrtc.Configuration{})
	if err != nil {
		panic(err)
	}

	pc.OnICECandidate(func(c *webrtc.ICECandidate) {
		if c == nil {
			return
		}

		iceString := c.ToJSON()

		fmt.Printf("ICE Candidate: %s\n", iceString.Candidate)

		candidate, err := ice.UnmarshalCandidate(iceString.Candidate)
		if err != nil {
			panic(err)
		}

		fmt.Printf("ICE Candidate: %s\n", candidate.String())
	})

	pc2, err := webrtc.NewPeerConnection(webrtc.Configuration{})
	if err != nil {
		panic(err)
	}

	_, err = pc2.CreateDataChannel("dc", nil)
	if err != nil {
		panic(err)
	}

	offer, err := pc2.CreateOffer(nil)
	if err != nil {
		panic(err)
	}

	err = pc2.SetLocalDescription(offer)
	if err != nil {
		panic(err)
	}

	if err = pc.SetRemoteDescription(offer); err != nil {
		panic(err)
	}

	answer, err := pc.CreateAnswer(nil)
	if err != nil {
		panic(err)
	} else if err = pc.SetLocalDescription(answer); err != nil {
		panic(err)
	}

	<-webrtc.GatheringCompletePromise(pc)
}
```





/cc @JoeTurki in case you have any thoughts on this. Thanks!

Hello @streamer45 

The parser is correct; it follows [RFC 5245 Section 15.1](https://datatracker.ietf.org/doc/html/rfc5245#section-15.1). Before this change, `UnmarshalCandidate` appeared to "work" with this example but actually returned invalid candidates. This happened because when calling `c.ToJSON()`, it added the `candidate:` prefix to the candidate:  [Relevant Code](https://github.com/pion/webrtc/blob/5ce8e05d224fcc3d5fde93b0038d57d2322b7c95/icecandidate.go#L238)

Previously, there was no validation to check if the foundation was correct. As a result, the incorrect foundation was included (started with `candidate:`).

If you do this, it will work, with the old version and the new.

```go
candidate, err := ice.UnmarshalCandidate(iceString.Candidate[len("candidate:"):])
```

Without this, the old version would output an invalid ICE candidates.

We can either modify the parser to ignore lines starting with "candidate:" (though I personally don’t think this is the best approach personally) or provide a function that extracts ICE candidates directly from WebRTC `webrtc.ICECandidate`. but so far for this issue it works as intended, i think.

And while the `candidate:` prefix is the part of the spec but the only reason i didn't include it with the parser, is that old one didn't handle it, it just included it with the founction!

In your code with the old version, doing `candidate.String() == c.String()` will return false, even though webrtc.ICECandidate also calls ice.Candidate.String(). This happens because the candidate obtained from UnmarshalCandidate with ToJSON is incorrect and invalid!

Thanks, @JoeTurki. I appreciate the context. 

I think that exporting some public utility function to make it straightforward to go from `webrtc.ICECandidate` to `ice.Candidate` would be ideal, but the proposed workaround works fine for me since the only issue this change caused on my side was an automated test failing.

@streamer45 i agree i always wanted to expose ToICE, i think your issue is a good cause, can you open an issue for this and i'll make a PR tonight!

> [@streamer45](https://github.com/streamer45) i agree i always wanted to expose ToICE, i think your issue is a good cause, can you open an issue for this and i'll make a PR tonight!

Will do! Feel free to close this one, it's all clear now.

@streamer45 now it's able to handle `candidate:` prefix also we exposed .ToICE and it's scheduled for the next release!

Awesome! Thank you!