Add Support for Parsing Extensions in Candidates

The UnmarshalCandidate function should be improved to align more y with the ICE Candidate parsing rules outlined in [RFC 5245, Section 15.1](https://datatracker.ietf.org/doc/html/rfc5245#section-15.1). 

In addition, candidateBase should support access to extension values. This includes:

Parsing and storing extensions in a structured way.
Matching specific extensions for validation or other purposes.
Serializing (marshaling) the candidate, including its extensions, back into a string.


This is required for many issues like https://github.com/pion/webrtc/issues/2993

I'm making a PR.
