ICE connection state stuck at 'checking' forever

## Summary
When there's no connectivity between two endpoints, both ends keep sending pings forever (never fails).

## Motivation
This forces a developer to implement application-level timeout.

## Describe alternatives you've considered
(see Motivation)

## Additional context
RFC 5389 section 7.2.1.  Sending over UDP
```
   Retransmissions continue until a response is received, or until a
   total of Rc requests have been sent.  Rc SHOULD be configurable and
   SHOULD have a default of 7.  If, after the last request, a duration
   equal to Rm times the RTO has passed without a response (providing
   ample time to get a response if only this final request actually
   succeeds), the client SHOULD consider the transaction to have failed.
```

Although I agree we should set the status to failed once we reach a situation as the one described by the spec, I already have twoapplication-level timeouts (well, actually one of them is a timeout):

- I have a timeout for connections in checking state, similar to the one you are describing here, but because there may be a problem with signaling, so for exampe if you are waiting for an answer, and the peer or the signaling server disconnect or have a problem, the connection will be in checking state forever. So even if we fix the problem you describe here I think we will still need an application level timeout.

- The candidate timeout (when an indication request is not answered for example) will set the state to disconnected, but not actually close the connection. So I have to listen for that and close the connection manually.

We can live with these points but they are not so obvious when implementing pion.

I'd agree with you much from the users' perspective and would implement own timers.

Here are my thoughts in bullet points:
* RFC says set candidate pair to fail when binding request timeouts.
* Many connection-oriented protocols such as TCP / SCTP has connection timeout.
* When candidate priority control becomes important, the timeout of each candidate pair would seem to become necessary. (if it doesn't fail, how can we tell the current successful pair is the best?)